
:root {
	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.text {
	font-size: 14px;
	font-weight: 400;
}



/* ui objects utility classes */

.card-light {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: rgba(247, 247, 247, 0.45);
	padding: 23px;
	border: 1px solid rgba(225, 225, 225, 0.45);
	border-radius: 20px;
}
