
:root {
	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	scroll-behavior: smooth; /* makes scrolling smooth */
}



/* text utility classes */

.text {
	font-size: 14px;
	font-weight: 400;
}



/* ui objects utility classes */

.card-light {
	background-color: rgba(247, 247, 247, 0.45);
	padding: 23px;
	border: 1px solid rgba(225, 225, 225, 0.45);
	border-radius: 20px;
}

.info-pill {
	position: relative;
	text-align: center;
	height: 35px;
	flex-shrink: 0;
	font-size: 10px;
	font-weight: 400;
	backdrop-filter: blur(17px);
	background-color: rgba(248, 248, 246, 0.45);
	padding: 10px 16px;
}

.info-pill-text {
	text-transform: uppercase;
}

.border {
	border: 1px solid #e1e1e1;
	border-radius: 100px;
}

.subtitle {
	align-self: stretch;
	font-size: 44px;
	font-weight: 500;
	line-height: 1.318;
	text-align: center;
}
